<!DOCTYPE html>
<html lang="en">
<head>
       <title>

        <%= title %>
       </title>
</head>
 <style>
   
        
    
    .jatt{
        background-color: aqua;
        font-size: larger;
        font-family: 'Courier New', Courier, monospace;
        font: 300;
        color: yellow;
    }
 </style>
<body >
    <h1 class="jaat">     fb clone html     <%= title %></h1>


   
    
    
    </form>

    
</body>
</html>