<link rel ="stylesheet" href="/css/user_profile.css">
<h1>
    netbook / Profile Page
    Welcome to log in 
</h1>


<h1>your all information regarding your profile is below down</h1>

<h1>
    
<p>Name: <%= user.name %></p>
<p>Email:<%= user.email %></p>
 <p>Pass: <%= user.password %></p>

</h1>




 welcome by abhilash rawal thank for visiting






<h2><marquee>you are the best person </marquee></h2>
